.App {
  text-align: center;
}

h4 {
  margin: 0;
  width: 60%;
}

h6 {
  margin-top: 1em;
}

.container-light {
  background-color: #f0d107;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.container-dark {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f0d107;
}

.text-holder {
  margin: 0 4em;
  text-align: left;
  font-weight: 500;
}

.text-holder h4 {
  padding: 1em 0;
}

.container-logo {
  margin: 2em;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

.container-logo img {
  width: 10em;
  height: 100%;
}

.logo {
  filter: invert(100%);
}

.container-button {
  display: flex;
  justify-content: right;
  position: fixed;
  z-index: 1;
  bottom: 1em;
  right: 1em;
}

.button {
  align-items: flex-end;
  margin: 0;
  padding: 0.25em;
  font-weight: 800;
  background-color: transparent;
  border: none;
  color:#000;
  /* color:#c70a4f; */
  font-size:1em;
}

button:focus{color:#fff;}
button:hover{cursor:pointer;}

.main-logo {
  width: 80vw;
}

.not-found-link {
  text-decoration: underline;
}

.carousel-caption h2 {
  background-color:red;
  font-size:3em;
  display:flex;
  padding:0 0.25em 0;
}

.caption-right {
   right: 1%;
   bottom: 15%;
}

.social {
  display: flex;
  font-size: 1.5em;
  padding: 2vh 2vw;
}

.socialLink {
  padding: 2vh 0.5vw;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  
  /* For mobile phones: */
  body {
    overflow: scroll;
  }
  
  h1 {
    font-weight: 900;
  }
  
  h4 {
    margin: 0;
    width: 90%;
  }
  
  .text-holder {
    margin: 0 2em;
    text-align: left;
    font-weight: 600;
  }
  
  .container-logo img {
    width: 9em;
    height: 100%;
  }

  .main-logo {
    width: 90vw;
  }

  .container-button {
    bottom: 0.35em;
    right: 0.5em;
  }

  .carousel-caption h2 {
    /* font-size:2em; */
  }

  .caption-right {
      /* bottom: 1%; */
  }

  .socialLink {
    padding: 1vh 2vw;
  }

  .carousel  .carousel-inner  .carousel-item  img {    
    transform: translate(-200px,0);  }

}